.container h3{
    padding-right: 80px;
    color: purple;
}
.nav-item{
    padding-right: 10px;
}
.nav-link{
    font-size: 20px;
    color: purple;
    cursor: pointer;

}
.nav-link:hover{
    background-color: rgba(214, 186, 186, 0.492);
    border-radius: 12px;
}
.suggested-result{
    position: absolute;
    top: 54px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    width: 300px;
    padding: 0;
}  
.suggested-result li{
    list-style: none;
    padding:5px;
    border: 1px solid #ddd;
}

.suggested-result li a{
    text-decoration: none;
    cursor: pointer;
    color: blueviolet;
}